.card-item{
    border:solid 1px #c9c9c9;       
    height: 270px; 
    width: 100% !important;
    margin: 1rem  0;
    .go-to{
        text-decoration: none ;
        &:hover,  &:focus{
            text-decoration: none;
        }
    
    
    }

    .descrption  {
        margin: .5rem  1rem ; 
        padding: 10px;
        .img-icon{
            height: 51px;
            widows: 51px;
            text-align: center;
            
        }
       
        .icon{
            font-size: 51px;
            text-align: center;
            padding: .7rem 0 0.8rem;
        }
        p {
           font-size: 0.8rem;
           height: 100px;
        }
        
     }
    .title-container {
        margin: .5rem 0 ;
        border-left:solid 7px #07307b;
    h3{
        margin: auto 0 ;
        padding: .8rem 0;
        padding-left:20px ;
        height: 60px;
        font-size: 1.4rem;
        font-weight: 600 ;
        color:#07307b;
    
       
    }
    }
    img{
        margin:10px auto;
        display: block;
    }
    .tag{ 
        background-color: #ac2424 ;
        color: #fff;
        margin: 0.3rem ;
        font-size: 0.7rem;
        border-radius: 4px;
        padding: .2rem;
    }
    

}

@media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS
    .card-item{
        width: 50%;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
         
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }