<!-- <div class="container">
<div class="row">
<div class="col-lg-6">
<label for="typeahead-basic">Search for a state:</label>
<input id="typeahead-basic" [resultFormatter]="formatter" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="searchApi"/>
</div>
<div class="col-lg-6">
  <label for="typeahead-basic">Search for a state:</label>
  <input id="typeahead-basic"  type="text" class="form-control" [(ngModel)]="modelStatic" [ngbTypeahead]="search"/>
  </div>
</div>

<hr>
<h1>
  Search with pipes 
</h1>
<div class="row">
  <div class="col-lg-6">
    <h4>Pipe on String</h4>
    <hr>
  <div>   
        <input type="text" class="form-control" placeholder="search..." [(ngModel)]="mySearch">
      </div>  
  <div  *ngFor="let item of items | filterData: mySearch: 'name';  let i = index">
    <h5>{{item.name}}</h5>
  </div>
</div>  
  <div class="col-lg-6">
    <h4>Pipe on any value in Object</h4>
    <hr>
          <div>
            <input type="text" class="form-control" placeholder="search..." [(ngModel)]="mySearch1">
          </div>
          <div class="d-block" *ngFor="let item of (items | filterDataObjects: mySearch1) ">
            <h5><span>{{item.name}}</span> | <span> {{item.role}}</span></h5>
          </div>
        </div>
      </div>
  </div>
 -->

 
<div class="header">

  <div class="container">
    <div class="row justify-content-between add-margin">

  
        <div class=" col-3  my-auto">
           <img  class="navbar-brand comms-img" src="./../assets/img/comms.png" alt="comm">
          </div>
          <div class=" col-3 ">
            <div class="loging-info row">
              <div class="img-container my-auto col-lg-3 col-md-4">
                <img class="img-circle user-img" *ngIf="User.UserPhoto" [src]="User.UserPhoto" alt="">
              </div>
              <div class=" col-lg-7 offset-lg-1 col-md-6 offset-md-2 my-auto user text-left">
                <div class="user-info">
                <p>Welcome,</p>
                <p>{{User.UserName}}</p>    
              </div>
              

                
                
              </div>
 

            </div>
          </div>
        </div>
  </div>

  
  </div>
  

 <div class="container">
   <div class="row">
      <div class="wrapper">
         
          <cards-list></cards-list>
          <router-outlet></router-outlet>
      </div>
      
   </div>

 </div>
 <div class="footer">
   <div class="container">
   <div class="row">
     <div class="text-left col-lg-5">
       <h6 class="my-3">All copyrights preserved ITWORX 2018</h6>
     </div>

     <div class=" offset-lg-4 col-gl-3">


       <img class="pull-right d-inline footer-img" src="./../assets/img/footer-logo.png" alt="">
     
      </div>
   </div>
 </div>
 </div>