/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css') ;

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Light');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semilight');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semibold');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Light';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Semi-Light';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Regular';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Semi-blod';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  body {
      font-family: 'Segoe UI Regular'
  }