

.navbar.dark-blue{
    
    background: #07307b;
    color: #fff;
    margin-top:-20px ;
    .title{
        font-size: 1.5625rem;
        font-weight: 800 ;
    }
    .form-inline {
        width: 60%;
    }
    input {
        border-radius: 0 ;
        width:65%;
        height: 35px;
    }
    .search-btn {
        width: 30%;
        height: 35px;
        background-color: #07307b;
        color: #fff; 
        &:focus, &:hover {
            background-color: #fff ;
            color: #07307b ;
            
        }
    }
}


.filter-wrapper{
    margin-top:1rem; 
   .filter-by-wrapper{
       margin-right:-70px; 
      
   }
   .select-department ,.select-type{
    margin: auto -10px;
    select {
    padding:5px 3px;
    }
}

    
    .filter-by {
        margin: 0.6rem;
        padding:5px 8px ; 
        color: #07307b;
        font-size: 1rem;
        font-weight: 600;
        clear: both;
        display: inline-block;
       
    }

    .tag-span{
        height: 32px;
        background-color: #bcbcbc ;
        margin: 0.5rem 0.4rem;     
        border-radius:12px;
        padding:4px 14px ; 
        text-decoration: none;
        font-size: 0.875rem ;
        font-weight: 400 ;
        color: #fff;
        float: left;
        &:hover,&:focus, &:active{
            background-color: #ac2424 ;
            color: #fff ;
             
        }
    }
    .tag-span-selected {
        background-color: #ac2424 ;
        color: #fff ;
    }
.item-category{
    color: #07307b;
    margin: 1rem 0; 
    font-size: 1.75rem;
    font-weight: 600;
    &:before {
        content:"• ";
    }
    i.fa-envelope {
        font-size: 1.4rem;
        color: #07307b; 
    }
}
.cards-list{    
    padding:0;
    margin:0;
    list-style-type: none;
  
    .card-list-item {
        width: 100%;
    }
    
    
}
}

.hide {
    display: none;
}


@media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS
    .filter-by {
        font-size: 1rem ;

    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }