<div class="col-lg-12">
  <!-- nabvar -->
  <nav class="navbar dark-blue row ">
    <div class="navbar-brand col-lg-5 col-sm-7">
      <h2 class="title">All ITWORX Systems are found here.</h2>
      <h2 class="title">All the Dots are connected.</h2>
    </div>
    <div class="form-inline col-lg-6 col-sm-7">
      <input class="form-control  mr-sm-2" type="text" (keydown.enter)="filterAll()" placeholder="Search for a system, tool, website.." aria-label="Search"
        [(ngModel)]="mySearch1">
      <button  type="button" (click)="filterAll()"  class="btn btn-light my-2 my-sm-0 search-btn" >Search</button>
    </div>
  </nav>


</div>


<div class="container">
  <div class="filter-wrapper">

    <div class="row text-left">
      <div class="col-lg-2 my-auto filter-by-wrapper">
        <span class="filter-by">Filter By:</span>
      </div>
      <div class="col-lg-2 my-auto select-department">
        <select [(ngModel)]="selectedDept" (change)=filterByTag($event.target.value) >
          <option value="All Departments">
            All Departments
          </option>
          <option *ngFor="let dept of departments" [value]="dept">
            {{dept}}
          </option>
        </select>
      </div>
      <div class=" col-lg-2 my-auto select-type" >
        <select  [(ngModel)]="selectedType" (change)=filterByTag($event.target.value)>
          <option value="All Types">
            All Types
          </option>
          <option *ngFor="let type of types" [value]="type">
            {{type}}
          </option>
        </select>
      </div>
    </div>
    <div *ngFor="let item of temp">
      <div id="{{item.Name}}">
        <h2 class="item-category">  {{item.Name}}  <a [href]="'mailto:'+ item.Email  +'?Subject=I am contact you for'" ><i class="fas fa-envelope"></i></a></h2>
        <ul class="row cards-list">

          <ng-container *ngFor="let app of (item.SystemInfos | filterDataObjects)">
         <li  class="card-list-item col-lg-3 col-md-6 col-sm-6 col-xs-12">

              <app-card [card]="app"></app-card>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
