<div class="header">
  <div class="container">
    <div class="row">
      <div class="left-block">
        text
      </div>
      <div class="right-block">
        text
      </div>
    </div>
      <!-- nabvar -->
      <nav class="navbar dark-blue  justify-content-between">
        <div class="navbar-brand">
        <h2 class="title">All ITWORX Systems are found here.</h2>
        <h2 class="title">All the Dots are connected.</h2>
    </div>
        <div class="form-inline">
          <input class="form-control  mr-sm-2" type="search" placeholder="Search for a system, tool, website.." [(ngModel)]="mySearch1" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0 search-btn" >Search</button>
        </div>
      </nav>

   
  </div>
</div>

<div class="container">
<div class="filter-wrapper">

  <div class="row">
    <span class="filter-by">Filter By:</span>
    <a href="#" class="tag-span" 
     *ngFor="let tag of tags" [ngClass]="{'tag-span-selected': selcetedTag== tag.id}"
      (click)="filterByTag(tag.id, tag.value)"><span>{{tag.value}}</span></a>

  </div>
  <div *ngFor="let item of apps" >
    <h2 class="item-category"> &middot; {{item.category}}</h2>
    <ul class="row cards-list " >
      <li *ngFor="let app of (item.apps | filterDataObjects: mySearch1)" 
      class="card-list-item col-lg-3">
        <app-card *ngIf="checkTag(app.tags)" [card]="app"></app-card>
      </li>
    </ul>
  </div>
</div>
</div>